<dialog class="bg-gray-700 border-slate-400 rounded text-gray-200">
    <footer class="flex flex-col gap-4 mx-auto border-b mb-2 ">
        <div class="flex justify-between  ">
            <h2 class="">Nova Venda</h2>
            <button class='' id="btnClose"><i class="fa-solid fa-square-xmark fa-xl "
                    style="color: #bc0b0b;"></i></button>
        </div>

    </footer>
    <main class="flex-1 ">
        <form action="/vendas/create" method="POST" class="flex flex-col">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome
                    </label>
                    <input type="text" id="name" name="name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="telefone"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefone</label>
                    <input type="tel" id="telefone" name="telefone"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="carro"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Carro</label>
                    <input type="text" id="carro" name="carro"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                </div>
                <div>
                    <label for="chassi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chassi
                    </label>
                    <input type="tel" id="chassi" name="chassi"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                </div>
            </div>
            <button class="px-3 py-2 text-xs font-medium text-center
       text-gray-200 bg-btn-secondary rounded-lg hover:bg-btn-primary 
       focus:ring-4 focus:outline-none focus:ring-btn-secondary" id="btnShow">
                Salvar
            </button>
        </form>
    </main>
</dialog>