<div class="flex justify-center  mx-auto ">
    <div class="bg-secondary p-2 mt-8  w-96 h-auto rounded shadow-lg ">
        <form class="flex flex-col  gap-6" action="/createuser" method="POST">
            <h3 class="text-center text-2xl ">Login</h3>
            <div class="flex flex-col gap-2">
                <label for="email">
                    Nome:
                </label>
                <input class="bg-gray-300 text-gray-900 rounded" type="text" id="name" name="name"
                    placeholder="Nome">
            </div>
            <div class="flex flex-col gap-2">
                <label for="email">
                    Sobrenome:
                </label>
                <input class="bg-gray-300 text-gray-900 rounded" type="text" id="lastname" name="lastname"
                    placeholder="Sobrenome">
            </div>
            <div class="flex flex-col gap-2">
                <label for="email">
                    Email:
                </label>
                <input class="bg-gray-300 text-gray-900 rounded" type="email" id="email" name="email"
                    placeholder="Email">
            </div>
            <div class="flex flex-col gap-2">
                <label for="password">
                    Password:
                </label>
                <input class="bg-gray-300 text-gray-900 rounded" type="password" id="password" name="password"
                    placeholder="Senha">
            </div>
            <div class="text-center">
                <input class="w-full rounded p-2  bg-btn-primary hover:bg-btn-secondary" type="submit" value="Criar">
            </div>
        </form>
    </div>
</div>